*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
**/build/
/captures
.externalNativeBuild
.cxx
local.properties
*.log
teleservice_extract/
oplus-tel/
oplus-tel.zip
oplus_extract/
tmp-oplus/
tmp-oplus.zip
instrumentation-target/
nrfr-client/
*.apk
*.jar
!gradle/wrapper/gradle-wrapper.jar
